@import "../../styles/vars";

.container-main {
  display: flex;
  min-height: 100vh;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  & > * {
    margin: 20px;
  }

  .divider {
    border-left: 2px solid $black;
    height: 400px;
  }

  .profile-pic {
    height: 200px;
    width: 200px;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%;
    }
  }  
}
