@import "../../styles/vars";

.link-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex: 1;

  & > * {
    margin-right: 35px;
    margin-left: 35px;
  }

  img {
    transition: all .15s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
